
.category {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    background-color: rgb(197, 244, 230);
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.category-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-item:hover .category-img {
    transform: scale(1.1);
}

.category-item p {
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width:1000px) {
    .category-img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width:800px) {

    .category {
        gap: 50px;
    }

    .category-img {
        width: 90px;
        height: 90px;
    }

    .category-item p {
        margin-top: 8px;
        font-size: 13px;
    }
}

@media (max-width:600px) {

    .category {
        gap: 30px;
    }

    .category-img {
        width: 60px;
        height: 60px;
    }

    .category-item p {
        margin-top: 5px;
        font-size: 10px;
    }
}