
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgb(243, 200, 200);
    width: 50%; 
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 1rem;
    z-index: 999;
    overflow-y: auto;
    box-sizing: border-box;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.sidebar.show-menu {
    visibility: visible;
    left: 0;
    overflow-y: auto;
    
}

.sidebar-navbar-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.sidebar-navbar-logo img {
    width: 100px;
}

.sidebar-navbar-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
}

.sidebar-navbar-close img {
    width: 30px;
}

.sidebar-navbar-small {
    background-color: rgb(244, 182, 182);
    padding: 20px 0 20px;
}

.sidebar-navbar-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 12px;
}
.sidebar-navbar-menu .sidebar-menu-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;
    position: relative;
    background-color: rgb(240, 125, 125);
}

.sidebar-icon-up {
    display: none;
}

.sidebar-icon-up.active {
    display: flex;
}

.sidebar-icon-down.active {
    display: none;
}

.sidebar-dropdown {
    max-height: 0;
    overflow: hidden; 
    background-color: #fff2ef;
    padding: 0 12px; 
    border-radius: 4px;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    margin-top: 8px;
}

.sidebar-dropdown.active {
    max-height: 1000px;
    padding: 12px; 
}

.sidebar-dropdown-column {
    margin-bottom: 12px;
}


.sidebar-dropdown-column-lists a {
    display: block;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
}

.sidebar-navbar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-navbar-middle {
    margin-top: 1rem;
    background-color: rgb(244, 182, 182);
    padding: 12px;
}

.sidebar-navbar-middle .sidebar-navbar-menu a {
    display: block;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(244, 182, 182);
}

.sidebar-navbar-middle .sidebar-navbar-menu a.active {
    border: 1px solid tomato;
}

@media(max-width:500px) {
    .sidebar {
        width: 80%; 
    }
}