
.cake-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.cake-category-header {
    text-align: center;
    margin-bottom: 20px;
}

.cake-category-header h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.cake-category-header p {
    font-size: 16px;
    color: #777;
}

.cake-category-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.cake-category-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #fff;
    cursor: pointer;
}

.cake-category-card:hover {
    transform: translateY(-5px);
}

.cake-category-image {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.cake-category-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cake-category-title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .cake-category-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .cake-category-card {
        margin: 0 auto;
    }

    .cake-category-title {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .cake-category-header h3 {
        font-size: 20px;
    }

    .cake-category-header p {
        font-size: 14px;
    }

    .cake-category-card {
        width: 100%;
    }

    .cake-category-title {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .cake-category-header h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .cake-category-header p {
        font-size: 12px;
    }

    .cake-category-card {
        width: 100%;
    }

    .cake-category-title {
        font-size: 10px;
    }
}

