
.navbar-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar-big {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px 0;
}

.navbar-big .logo {
    width: 200px;
    margin-top: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border: 1px solid tomato;
    border-radius: 20px;
}

.navbar-left input {
    flex: 1;
    border: none;
    font-size:15px;
    font-weight: 500;
    padding: 0 10px;
    outline: none;
}

.navbar-left img {
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right button {
    background: transparent;
    font-size: 15PX;
    border: 1px solid tomato;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover { 
    background-color: #fff4f2;
}

.navbar-cart {
    position: relative;
}

.navbar-cart img {
    width: 30px;
}

.navbar-cart .dot {
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -7px;
    right: -2px;
}

