
.gift-category {
    background-color: rgb(246, 246, 183);
    padding: 20px 0 30px 0;
}


.gift-category-header {
    text-align: center;
    margin-bottom: 30px;
}

.gift-category-header h3 {
    font-size: 26px;
    font-weight: bold;
    color: #444;
}

.gift-category-header p {
    font-size: 18px;
    color: #666;
}

.gift-category-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.gift-category-card {
    text-align: center;
    cursor: pointer;
}


.gift-category-card img {
    width: 200px;
    height: 240px;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.gift-category-card img:hover {
    transform: scale(1.1);
}

.gift-category-card img.active {
    border: 10px solid rgb(232, 69, 218);
}

.gift-category-title {
    font-size: 16px;
    font-weight: 600;
    color: #444;
    margin: 10px 0 10px 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .gift-category-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 690px) {
    .gift-category-header h3 {
        font-size: 20px;
    }

    .gift-category-header p {
        font-size: 16px;
    }

    .gift-category-card img {
        width: 150px;
        height: 180px;
    }

    .gift-category-title {
        font-size: 12px;
    }

}

@media (max-width: 545px) {
    .gift-category-header h3 {
        font-size: 18px;
    }

    .gift-category-header p {
        font-size: 14px;
    }

    .gift-category-card img {
        width: 80px;
        height: 90px;
    }

    .gift-category-title {
        font-size: 10px;
    }
}
